<div class="container-fluid">
  <div class="row">
    <mat-toolbar style="background-color: #1106B9;">
      <h1 style="font-size:30px; color: white; cursor: pointer;" routerLink="/login">MentorConnect</h1>
      <span class="spacer"></span>
      <a class="login" routerLink="/login" style="margin-right: 20px; color: white; text-decoration: none;">Login</a>
      <a class="register" routerLink="/register" style="margin-left: 20px; margin-right: 20px; color: white; text-decoration: none;">Register</a>
      <a class="about" routerLink="/about" style="margin-left: 20px; margin-right: 40px; color: white; text-decoration: none;">About</a>
    </mat-toolbar>
  </div>
</div>