
  
  <!-- Note, the syntax for hiding the search bar on mobile screens using class="d-none d-sm-block" from
      https://getbootstrap.com/docs/4.0/utilities/display/ but I didn't end up using this way-->

      <div class="container-fluid">
        <div class="row">
          <mat-toolbar color="primary">
                <span>MentorConnect</span>
                <span class="spacer"></span>
                <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
                <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
            </mat-toolbar>
        </div>
      </div>