<div class="container-fluid">

        <div style="margin: 50px">
            <div class="row" style="margin: auto;">
                <div class="col-sm-6" style="margin: auto; padding-right: 50px;">
                    <div class="row" style="background-color: #316CDF; padding: 50px; color: white; height: 350px">
    
                        <div>
                            <h3 style="color: white;">Log In</h3>
                            <p style="color: white;">MentorConnect's goal is to combat imposter syndrome by connecting
                                mentors and mentees.</p>
                        </div>
    
                    </div>
                </div>
                <div class="col-sm-6" style="margin: auto; padding-left: 50px;">
                    <div class="row" style="background-color: #316CDF; padding: 50px; color: white; height: 350px">
    
                        <!-- Log In Form -->
                        <div class="col-sm-12">
    
                            <div class="row">
                                <h3 style="color: white;" style="margin:auto; padding-bottom: 5px;">Log In</h3>
                            </div>
    
                            <div class="row">
                                <form style="margin:auto;">
                                    <div class="form-group">
                                        <label for="InputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="InputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword1">Password</label>
                                        <input type="password" class="form-control" id="InputPassword1"
                                            placeholder="Password">
                                    </div>
                                    <button mat-flat-button type="submit" color="accent">Log In</button>
                                </form>
                            </div>
                            <!-- /Log In Form -->
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>