<div class="container-fluid">

    <div style="margin: 50px">
        <div class="row" style="margin: auto;">
            <div class="col-sm-6" style="margin: auto; padding-right: 50px;">
                <div class="row" style="background-color: #316CDF; padding: 50px; color: white; height: 350px">

                    <div class="col-sm-6">
                        <div class="row " class="full-width">
                            <img src="assets\Ilker_Hadzhalaran.jpg" height="250">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            <h3 style="color: white;">Ilker Hadzhalaran</h3>
                            <h5 style="color: white;">Developer</h5>
                            <p style="color: white;">4th Year Automation Engineering Student at McMaster</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6" style="margin: auto; padding-left: 50px;">
                <div class="row" style="background-color: #316CDF; padding: 50px; color: white; height: 350px">

                    <div class="col-sm-6">
                        <div class="row " class="full-width">
                            <img src="assets\William_Qiu.jpg" height="250">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            <h3 style="color: white;">William Qiu</h3>
                            <h5 style="color: white;">UI/UX Designer</h5>
                            <p style="color: white;">4th Year Automation Engineering Student at McMaster</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>