<div class="container-fluid">

  <!-- Hero Content -->
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Upgrade your career by <br> finding a mentor or mentee</h1>
    <p class="lead" style="font-size: x-large;">Log in to connect with mentors or mentees who align with your
      professional interests!</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
      <button class="btn btn-primary btn-info btn-lg" routerLink="/about">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
  <!-- /Hero Content -->

  <!-- "How to Use" Section -->
  <div *ngIf="!registerMode" class="row" style="margin: 50px 0px;">
    <div class="col-sm-8" style="background-color: #f4f4f4; margin: auto;">
      <div style="margin: 20px;">

        <div class="row">
          <h4>How to Use</h4>
        </div>

        <div class="row">
          <p>The MentorConnect platform is only for demo purposes and should not be used for real networking.
            You can try it out by either:
          </p>
        </div>

        <div class="row" style="margin-left: 30px;">
          <ul>
            <li> Logging into one of the following demo accounts:
              <ul>
                <li>
                  Mentee account: username <strong>"maryann" </strong> and password <strong>"Pa$$w0rd"</strong>.
                </li>
                <li>
                  Mentor account: username <strong>"ward" </strong> and password <strong>"Pa$$w0rd"</strong>.
                </li>
                <li>
                  Administrator account: username <strong>"admin" </strong> and password <strong>"Pa$$w0rd"</strong>.
                </li>
              </ul>
            </li>
            <li> Creating a test account by registering. </li>
            <li> Or watching a walkthrough video of the app at: <a href="https://vimeo.com/957525974"
                target="_blank">https://vimeo.com/957525974</a>.</li>
          </ul>
        </div>

        <div class="row">
          <a routerLink="/about" style="margin-left: 23px;">Learn More</a>
        </div>

      </div>
    </div>
  </div>
  <!-- /"How to Use" Section -->

</div>
