<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>

  <div class="mb-3">
    <label style="margin-right: 10px;">I'd like to sign up as a: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input ms-1 me-1" value="Mentee" formControlName="mentorOrMentee">Mentee
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input ms-3 me-1" value="Mentor" formControlName="mentorOrMentee">Mentor
    </label>
  </div>

  <app-text-input [formControl]="$any(registerForm.controls['yearsOfCareerExperience'])"
    [label]="'Years of Career Experience'" [type]="'number'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'First Name'"></app-text-input>
  <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'"
    [maxDate]="maxDate"></app-date-picker>
  <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
    [type]="'password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Password Confirmation'"
    [type]="'password'"></app-text-input>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
