<div class="text-center mt-3">
  <h2>{{predicate === 'connection_requested_from' ? 'Connection requests sent' : 'Connection requests received'}}</h2>
</div>

<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <button class="btn btn-primary"
        btnRadio="connection_requested_from"
        [(ngModel)]="predicate"
        (click)="loadConnectionRequests()">
        Connection requests sent
      </button>
      <button class="btn btn-primary"
        btnRadio="connection_requested_by"
        [(ngModel)]="predicate"
        (click)="loadConnectionRequests()">
        Connection requests received
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <!-- [(ngModel)] is used for two-way binding between the ts component and the pagination component -->
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
